---
layout: base.njk
permalink: "{{ page.filePathStem }}.html"
---   

{% block content %}

   {% include 'partials/contact-slider.njk' %}

   {% include 'partials/contactpage-area.njk' %}     

   {% include 'partials/contactpage-map.njk' %}      

{% endblock %}     
