---
layout: base.njk
---

   {% block content %}

      {% include 'partials/sliderarea.njk' %}

      {% include 'partials/swiper.njk' %}

      {% include 'partials/about-area.njk' %}

      {% include 'partials/mission-area.njk' %}

      {% include 'partials/banner-area.njk' %}

      {% include 'partials/our-history.njk' %}

      {% include 'partials/testimonial-area.njk' %}

      {% include 'partials/process.njk' %}

      {% include 'partials/blog.njk' %}

   {% endblock %}