--- 
layout: base.njk 
permalink: "{{ page.filePathStem }}.html"
--- 

<!-- slider-area-start  -->
<section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="assets/img/bg/privacy-bg-1.jpg">
			<div class="container">
						<div class="row">
									<div class="col-xxl-12">
												<div class="page__title-wrapper mt-100">                  
															<div class="breadcrumb-menu">
																		<ul>
																					<li><a href="index.html">Empresa</a></li>
																					<li><span>A Nossa História</span></li>
																		</ul>
															</div>
															<h3 class="page__title mt-20">A Nossa História</h3>      
												</div>
									</div>
						</div>
			</div>
</section>
<!-- slider-area-end -->

<section id="our-history" class="ls s-pt-xl-160 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-160 s-pb-lg-130 s-pb-md-90 s-pb-60">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="special-heading text-center">
						<span>
									Milestones da ELO Automotive
								</span>
							</h2>
							<div class="divider-line bg-maincolor text-center"></div>
							<div class="fw-divider-space divider-25"></div>
							<p class="special-heading text-center">
								<span>
									A ELO Automotive foi fundada em 1965 in Seixal, Portugal, como uma empresa de produção de molas, parte do grupo Batista Russo. Nos últimos 56 anos, fomos crescendo tornando-nos uma empresa internacional que exporta para todo o mundo. As capacidades de produção da ELO Automotive foram expandindo ao longo dos anos, mantendo a determinação em dar suporte aos nossos clientes com o melhor serviço e qualiad
								</span>
							</p>
							<div class="divider-45 hidden-below-lg"></div>
							<div class="divider-30 hidden-above-lg"></div>
							<div class="steps-vertical">
								<div class="step-wrap">
									<div class="step-wrap__text">
										<h4>
											Início da ELO Automotive
										</h4>
										<p>
											Constituição da empresa como parte do Grupo Batista Russo, com o ínicio da produção no Seixal.
										</p>
									</div>
									<div class="step-wrap__title">
										<h3 class="color-main thin">1965</h3>
									</div>

									<div class="step-wrap__image">
										<img src="images/steps/01.jpg" alt="">
									</div>
								</div>
								<div class="step-wrap">
									<div class="step-wrap__text">
										<h4>
											O Grupo Galucho
										</h4>
										<p>
											Aquisição da empredsa pelo Grupo GALUCHO, começando a fornecer linhas de montagem da MAN, Berliet, Tramagal, Ford e General Motors.
										</p>
									</div>
									<div class="step-wrap__title">
										<h3 class="color-main thin">1968</h3>
									</div>

									<div class="step-wrap__image">
										<img src="images/steps/02.jpg" alt="">
									</div>
								</div>
								<div class="step-wrap">
									<div class="step-wrap__text">
										<h4>
											Expansão das capacidades produtivas e mercados
										</h4>
										<p>
											Aumento da capacidade produtiva, assumindo a posição de liderança Increase of the no mercado de reparação e em países de presença Portuguesa no Norte de Africa.
										</p>
									</div>
									<div class="step-wrap__title">
										<h3 class="color-main thin">1970</h3>
									</div>

									<div class="step-wrap__image">
										<img src="images/steps/03.jpg" alt="">
									</div>
								</div>
								<div class="step-wrap">
									<div class="step-wrap__text">
										<h4>
											Nova Fábrica
										</h4>
										<p>
											Início da nova fábrica no Casal do Marco, Seixal. Começo da exportação para mercados externos, com foco no mercado alemão. 
										</p>
									</div>
									<div class="step-wrap__title">
										<h3 class="color-main thin">1980</h3>
									</div>

									<div class="step-wrap__image">
										<img src="images/steps/04.jpg" alt="">
									</div>
								</div>
								<div class="step-wrap">
									<div class="step-wrap__text">
										<h4>
											ISO 9001
										</h4>
										<p>
											Aumento progressivo das áreas tecnologicas e técnicas culminando na certificação EN ISO 9001.
										</p>
									</div>
									<div class="step-wrap__title">
										<h3 class="color-main thin">1990</h3>
									</div>

									<div class="step-wrap__image">
										<img src="images/steps/05.jpg" alt="">
									</div>
								</div>

								<div class="step-wrap">
									<div class="step-wrap__text">
										<h4>
											Molas Pneumáticas
										</h4>
										<p>
											Início da produção de molas pneumáticas juntamente com a introdução de sistemas de desenho assistido por computador CAD para todos os modelos de molas.
										</p>
									</div>
									<div class="step-wrap__title">
										<h3 class="color-main thin">2000</h3>
									</div>

									<div class="step-wrap__image">
										<img src="images/steps/05.jpg" alt="">
									</div>
								</div>

								<div class="step-wrap">
									<div class="step-wrap__text">
										<h4>
											Automação de processos
										</h4>
										<p>
											Automação do equipamento de produção e crescimento nos mercados internacionais.
										</p>
									</div>
									<div class="step-wrap__title">
										<h3 class="color-main thin">2010</h3>
									</div>

									<div class="step-wrap__image">
										<img src="images/steps/05.jpg" alt="">
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
</section>

<section class="ls ms map-section s-pt-xl-160 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-280 s-pb-lg-250 s-pb-md-90 s-pb-60">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<h2 class="special-heading">
								<span class="text-capitalize">
									Molas Pneumáticas
								</span>
							</h2>
							<div class="divider-45 hidden-below-lg"></div>
							<div class="divider-30 hidden-above-lg"></div>
							<p class="special-heading">
								<span>
									Início da produção de molas pneumáticas juntamente com a introdução de sistemas de desenho assistido por computador CAD para todos os modelos de molas.
								</span>
							</p>
							<div class="divider-45 hidden-below-lg"></div>
							<div class="divider-30 hidden-above-lg"></div>
							<div class="d-flex flex-column flex-sm-row justify-content-between flex-wrap ">
								<div class="simple-counter">
									<h3 class="special-heading counter-wrap">
										<span class="counter color-main thin big" data-from="0" data-to="22" data-speed="1800">0</span>
									</h3>
									<p class="special-heading bold color-darkgrey">
										<span>
											Years
										</span>
									</p>
									<h6 class="special-heading text-capitalize">
										<span>
											Experience
										</span>
									</h6>
								</div>
								<div class="divider-30 hidden-above-sm"></div>
								<div class="simple-counter">
									<h3 class="special-heading counter-wrap">
										<span class="counter color-main thin big" data-from="0" data-to="65" data-speed="1800">0</span>
									</h3>
									<p class="special-heading bold color-darkgrey">
										<span>
											Offices
										</span>
									</p>
									<h6 class="special-heading text-capitalize">
										<span>
											Worldwide
										</span>
									</h6>
								</div>
								<div class="divider-30 hidden-above-sm"></div>
								<div class="simple-counter">
									<h3 class="special-heading counter-wrap">
										<span class="counter color-main thin big" data-from="0" data-to="15" data-speed="1800">0</span>
										<span class="counter-add thin color-main big">k</span>
									</h3>
									<p class="special-heading bold color-darkgrey">
										<span>
											Workers
										</span>
									</p>
									<h6 class="special-heading text-capitalize">
										<span>
											Employed
										</span>
									</h6>
								</div>
							</div>

						</div>
						<div class="col-lg-6">
							<div class="divider-40 hidden-above-lg"></div>
							<div id="map-vector"></div>
						</div>
					</div>
				</div>
</section>