---
layout: base.njk
permalink: "{{ page.filePathStem }}.html"
---

<!-- slider-area-start  -->
   <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="assets/img/bg/privacy-bg-1.jpg">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="page__title-wrapper mt-100">                  
                  <div class="breadcrumb-menu">
                     <ul>
                        <li><a href="index.html">Empresa</a></li>
                        <li><span>Política de Privacidade</span></li>
                     </ul>
                  </div>
                  <h3 class="page__title mt-20">Política de Privacidade</h3>      
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- slider-area-end -->

   <!-- faq__area start -->
   <div class="faq__area pt-30 pb-90">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-12">
               <p>No endereço www.elo-automotive.com, acessível em https://www.elo-automotive.com, uma das nossas principais prioridades é a privacidade dos nossos visitantes. Este documento de Política de Privacidade contém tipos de informações que são colecionadas e registadas por www.elo-automotive.com e como as usamos.
               Não hesite em contactar-nos caso tenha qualquer pergunta adicional ou informação sobre a nossa Política de Privacidade.
               Esta Política de Privacidade aplica-se apenas às nossas atividades online e é válida para os visitantes do nosso site no que diz respeito às informações que eles compartilharam e / ou coletaram em www.elo-automotive.com. Esta política não se aplica a nenhuma informação coletada offline ou por meio de outros canais que não este site.
               </p>
               <div class="faq__content mb-30">
                  <div class="accordion" id="accordionExample">
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              <span>01. </span> Consentimento
                           </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>Ao usar nosso website, concorda com nossa Política de Privacidade e concorda com seus termos.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <span>02. </span> Informações que recolhemos
                           </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>Recolhemos Nome, Email, Telefone, Assunto e Mensagem do Utilizador.
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <span>03. </span> Utilização de Cookies
                           </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>Utilizamos Cookies fornecedidas pelo Google Analytics para nos ajudar a entender como usa o site e como podemos melhorar a sua experiência. Essas cookies podem rastrear informação sobre quanto tempo está no site e quais as páginas visitadas, para que possamos desenvolver conteudo que seja do seu interesse.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                              <span>04. </span> Compromisso do Utilizador
                           </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 O Utilizador compromete-se a fazer uso adequado dos conteúdos e da informação que o site oferece oe põe à sua disposição nas seguintes condições:
                                 
                                 <ul>
                                    <li class="ml-20">Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</li>
                                    <li class="ml-20">Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, ou casas de apostas (ex.: Moosh), jogos de sorte e azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</li>
                                    <li class="ml-20">Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do , de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</li>
                                 </ul>
                              </p>
                           </div>
                        </div>
                        
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              <span>05. </span> Protecção do Consumidor (LDC) - Lei 24/96 31 Julho
                           </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 Sob o Dec. Lei referido, para além de outros direitos, os consumidores em território Português têm direito a:
                                 
                                 <ul>
                                    <li class="ml-20">Pedir quais os dados e categorias recolhidas sobre o consumidor em questão;</li>
                                    <li class="ml-20">Pedir que a Empresa apague quaisquer dados pessoais recolhidos;</li>
                                    <li class="ml-20">Se fizer um pedido para apagar dados pessoais, teremos um mês para lhe responder;</li>
                                 </ul>

                                 Esta política é efetiva a partir de Junho de 2023.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- faq__area end -->