---
layout: base.njk
permalink: "{{ page.filePathStem }}.html"
---

   {% block content%}

      {% include 'partials/header.njk' %}


      {% include 'partials/sidebar.njk' %}

      <!-- slider-area-start  -->
      <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="assets/img/bg/convencional.png">
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="page__title-wrapper mt-100">                  
                     <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span>Details</span></li>
                        </ul>
                    </div>    
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- slider-area-end -->

      <!-- about__area start -->
      <section class="about__area pt-120 pb-155">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-6">
                  <div class="about__image about__image-2">
                     <div class="about__image-big">
                        <img src="assets/img/about/about-img-7.jpg" alt="">
                     </div>
                     <div class="about__image-small about__image-small-2">
                        <img src="assets/img/about/about-img-8.jpg" alt="">
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="about__right-2">
                     <div class="about__info pb-20">
                        <div class="section-2__wrapper mb-30">
                           <h5 class="section__title-sm">An effective business strategy for companies</h5>
                        </div>
                        <p>Can we help our clients succeed by creating brand identity, digital experiences, and print materials. Financial consulting slogans and Financial consu lting be used to  lients succeed by creatin communic.</p>
                     </div>
                     <div class="proceess__list pt-30">
                        <div class="process__list-item mb-30">
                           <div class="process__list-info">
                              <div class="process__list-icon">
                                 <i class="flaticon-pencil"></i>
                              </div>
                              <div class="process__list-content">
                                 <h5 class="process__list-item-title">Looking For A First Class For Business <br> Plan Consultant?</h5>
                              </div>
                           </div>
                           <div class="process__list-sp-icon">
                              <a href="products-details.html"><i class="fa-light fa-arrow-right-long"></i></a>
                           </div>
                        </div>
                     </div>
                     <p class="process__text">We help our clients succeed by creating brand clients identities,  digital IT and experiences IT and print materials.</p>
                     <div class="about__button mt-35">
                        <a href="about.html" class="tp-touch-btn">Learn More <i class="fa-light fa-arrow-right-long"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- about__area end -->

      <!-- sm-products__area start -->
      <div class="sm-products__area grey-bg-5 pt-120 pb-190">
         <div class="container">
            <div class="sm-products__lists-2">
               <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-6">
                     <div class="sm-products__item mb-30">
                        <div class="flip-card">
                           <div class="flip-card-inner flip-card-inner-2">
                           <div class="flip-card-front flip-card-front-2">
                                 <div class="flip-card-icon flip-card-icon-2 mb-20">
                                    <i class="flaticon-container-1"></i>
                                 </div>
                                 <h5 class="flip-card-title flip-card-title-2">Industry Tool #01</h5>
                                 <div class="flip-card-omore">
                                    <p>We work to understand your issues and are driven</p>
                                 </div>
                           </div>
                           <div class="flip-card-back flip-card-back-2">
                                 <div class="flip-card-icon mb-20">
                                    <i class="flaticon-container-1"></i>
                                 </div>
                                 <h5 class="flip-card-title"><a href="products-details.html">Industry Tool #01</a></h5>
                                 <div class="flip-card-omore">
                                    <p>We work to understand your issues and are driven</p>
                                 </div>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6">
                     <div class="sm-products__item mb-30">
                        <div class="flip-card">
                           <div class="flip-card-inner flip-card-inner-2">
                           <div class="flip-card-front flip-card-front-2">
                                 <div class="flip-card-icon flip-card-icon-2 mb-20">
                                    <i class="flaticon-lever"></i>
                                 </div>
                                 <h5 class="flip-card-title flip-card-title-2">Industry Tool #02</h5>
                                 <div class="flip-card-omore">
                                    <p>We work to understand your issues and are driven</p>
                                 </div>
                           </div>
                           <div class="flip-card-back flip-card-back-2">
                                 <div class="flip-card-icon mb-20">
                                    <i class="flaticon-lever"></i>
                                 </div>
                                 <h5 class="flip-card-title"><a href="products-details.html">Industry Tool #02</a></h5>
                                 <div class="flip-card-omore">
                                    <p>We work to understand your issues and are driven</p>
                                 </div>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6">
                     <div class="sm-products__item mb-30">
                        <div class="flip-card">
                           <div class="flip-card-inner flip-card-inner-2">
                           <div class="flip-card-front flip-card-front-2">
                                 <div class="flip-card-icon flip-card-icon-2 mb-20">
                                    <i class="flaticon-pumpjack"></i>
                                 </div>
                                 <h5 class="flip-card-title flip-card-title-2">Industry Tool #03</h5>
                                 <div class="flip-card-omore">
                                    <p>We work to understand your issues and are driven</p>
                                 </div>
                           </div>
                           <div class="flip-card-back flip-card-back-2">
                                 <div class="flip-card-icon mb-20">
                                    <i class="flaticon-pumpjack"></i>
                                 </div>
                                 <h5 class="flip-card-title"><a href="products-details.html">Industry Tool #03</a></h5>
                                 <div class="flip-card-omore">
                                    <p>We work to understand your issues and are driven</p>
                                 </div>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6">
                     <div class="sm-products__item mb-30">
                        <div class="flip-card">
                           <div class="flip-card-inner flip-card-inner-2">
                           <div class="flip-card-front flip-card-front-2">
                                 <div class="flip-card-icon flip-card-icon-2 mb-20">
                                    <i class="flaticon-conveyor-belt"></i>
                                 </div>
                                 <h5 class="flip-card-title flip-card-title-2">Industry Tool #04</h5>
                                 <div class="flip-card-omore">
                                    <p>We work to understand your issues and are driven</p>
                                 </div>
                           </div>
                           <div class="flip-card-back flip-card-back-2">
                                 <div class="flip-card-icon mb-20">
                                    <i class="flaticon-conveyor-belt"></i>
                                 </div>
                                 <h5 class="flip-card-title"><a href="products-details.html">Industry Tool #04</a></h5>
                                 <div class="flip-card-omore">
                                    <p>We work to understand your issues and are driven</p>
                                 </div>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- sm-products__area end -->

      {% include 'partials/testimonial-area.njk' %}

      <!-- products__description start -->
      <div class="products__description mb-40">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <p class="ser__text">A A ELO Automotive fabrica uma gama completa de molas convencionais pneumáticas e parabólicas. A nossa tecnologia permite produzir molas eficientes de peso reduzido com excelente desempenho e durabilidade. Conseguimos obter os seguintes benefícios: 
                     <ul>
                        <li>Peso reduzido na montagem</li>
                        <li>Alta resistência ao desgaste</li>
                        <li>Stress Residual ótimo com máximo tempo útil</li>
                     </ul>
                  </p>
                  <p class="ser__text">
                     <a href="#">Industry
                     </a> team is a diverse network of consultants and industry professionals with a global mindset and a collaborative culture. We work to understand your issues and are driven to ask better questions in the pursuit.</p>
               </div>
            </div>
         </div>
      </div>
      <!-- products__description end -->

      <!-- sm__nevigation start -->
      <div class="sm__nevigation mb-120">
         <div class="container">
            <div class="nav__sm-area grey-bg-5 pt-20">
               <div class="row align-items-center">
                  <div class="col-xl-5 col-lg-5 col-md-5">
                     <div class="nevigation__info mb-20 pl-30">
                        <img src="assets/img/nav/nav-img-1.jpg" alt="nav-img" class="img-fluid">
                        <div class="nevigation__content">
                           <h6 class="nevigation__title"><a href="products-details.html">Manufacturing</a></h6>
                           <p><a href="products-details.html">Prev  Service</a></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-2">
                     <div class="nevigation__icon text-center mb-20"><a href="products-details.html"><i class="fas fa-th"></i></a></div>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-5">
                     <div class="nevigation__info nevigation__info-2 mb-20 pr-30">
                        <div class="nevigation__content">
                           <h6 class="nevigation__title"><a href="products-details.html">Construction</a></h6>
                           <p><a href="products-details.html">Next  Service</a></p>
                        </div>
                        <img src="assets/img/nav/nav-img-2.jpg" alt="nav-img" class="img-fluid">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- sm__nevigation end -->

     </main>

      {% include 'partials/footer.njk' %}
      
   {% endblock %}
</html>
