---
layout: base.njk
permalink: "{{ page.filePathStem }}.html"
---

{% block content %}

  {% include 'partials/product-details-slider.njk' %}

  {% include 'partials/product-details-content.njk' %}

{% endblock %}
