<!-- about__area start -->
<section class="about__area pt-120 pb-90">
 <div class="container">
    <div class="row align-items-center">
       <div class="col-xl-6 col-lg-6">
          <div class="ab-tab-info mb-30">
             <div class="ab-image w-img">
                <img src="assets/img/about/about-1.jpg" alt="">
             </div>
             <div class="absp-text absp-text-1">
                <i class="flaticon-windmill"></i>
                <div class="absp-info">
                   <h5><span class="counter">5000</span>+</h5>
                   <span class="absm-title">Projects Done</span>
                </div>
             </div>
             <div class="absp-text absp-text-2">
                <i class="flaticon-container-1"></i>
                <div class="absp-info">
                   <h5><span class="counter">3300</span>+</h5>
                   <span class="absm-title">Happy Customer</span>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-6 col-lg-6">
          <div class="ab-left-content">
             <div class="section__wrapper mb-30">
                <h4 class="section__title">We can take your business to the next level.</h4>
                <div class="r-text">
                   <span>about us</span>
                </div>
             </div>
             <p class="abd-text">We is the partner of choice for many of the world’s leading enterprises,
                SMEs and technology challengers.</p>
                <div class="ab-author mb-30">
                   <h5>Bhocherd Simon <span>- Founder</span></h5>
                </div>
             <p class="sm-text mb-45">Our mission is to provide quality English language instruction a
                variety of courses to international and local students in a
                professional and supportive atmosphere .</p>
             <div class="ab-button mb-30">
                <a href="about.html" class="tp-btn">Learn More</a>
             </div>
          </div>
       </div>
    </div>
 </div>
</section>
<!-- about__area end -->