      <!-- sd-banner-area start -->
      <section class="sd-banner-area pb-110">
       <div class="banner__slider swiper-container">
          <div class="banner__wrapper swiper-wrapper">
             <div class="sd-banner__item swiper-slide" data-background="assets/img/banner/banner-01.jpg">
                <div class="container-0">
                   <div class="row g-0">
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                      <div class="col-xl-3 banner-slide-height">
                         <div class="slide-border"></div>
                         <div class="sd-content">
                            <span class="sd-meta">Industry, Manufacturing</span>
                            <h5><a href="portfolio-details.html">Genvar Eco Park</a></h5>
                            <div class="project-info"> 
                               <a href="portfolio-details.html"><i class="fal fa-plus"></i></a>
                               <span><a href="portfolio-details.html">Project Details</a></span>
                            </div>
                            <div class="sd-bg-icon">
                               <i class="flaticon-industrial"></i>
                            </div>
                         </div>
                      </div>
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="sd-banner__item swiper-slide" data-background="assets/img/banner/banner-02.jpg">
                <div class="container-0">
                   <div class="row g-0">
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                      <div class="col-xl-3 banner-slide-height">
                         <div class="slide-border"></div>
                         <div class="sd-content">
                            <span class="sd-meta">Industry, Manufacturing</span>
                            <h5><a href="portfolio-details.html">Denvar Eco Park</a></h5>
                            <div class="project-info"> 
                               <a href="portfolio-details.html"><i class="fal fa-plus"></i></a>
                               <span><a href="portfolio-details.html">Project Details</a></span>
                            </div>
                            <div class="sd-bg-icon">
                               <i class="flaticon-industrial"></i>
                            </div>
                         </div>
                      </div>
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="sd-banner__item swiper-slide" data-background="assets/img/banner/banner-03.jpg">
                <div class="container-0">
                   <div class="row g-0">
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                      <div class="col-xl-3 banner-slide-height">
                         <div class="slide-border"></div>
                         <div class="sd-content">
                            <span class="sd-meta">Industry, Manufacturing</span>
                            <h5><a href="portfolio-details.html">Natural Eco Park</a></h5>
                            <div class="project-info"> 
                               <a href="portfolio-details.html"><i class="fal fa-plus"></i></a>
                               <span><a href="portfolio-details.html">Project Details</a></span>
                            </div>
                            <div class="sd-bg-icon">
                               <i class="flaticon-industrial"></i>
                            </div>
                         </div>
                      </div>
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="sd-banner__item swiper-slide" data-background="assets/img/banner/banner-04.jpg">
                <div class="container-0">
                   <div class="row g-0">
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                      <div class="col-xl-3 banner-slide-height">
                         <div class="slide-border"></div>
                         <div class="sd-content">
                            <span class="sd-meta">Industry, Manufacturing</span>
                            <h5><a href="portfolio-details.html">Angency Eco Park</a></h5>
                            <div class="project-info"> 
                               <a href="portfolio-details.html"><i class="fal fa-plus"></i></a>
                               <span><a href="portfolio-details.html">Project Details</a></span>
                            </div>
                            <div class="sd-bg-icon">
                               <i class="flaticon-industrial"></i>
                            </div>
                         </div>
                      </div>
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section> 
    <!-- sd-banner-area end -->