      <!-- sd-banner-area start -->
      <section class="sd-banner-area pb-0">
       <div class="banner__slider swiper-container">
          <div class="banner__wrapper swiper-wrapper">
             <div class="sd-banner__item swiper-slide" data-background="assets/img/banner/banner-05.jpg">
                <div class="container-0">
                   <div class="row g-0">
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                      <div class="col-xl-3 banner-slide-height">
                         <div class="slide-border"></div>
                         <div class="sd-content">
                            <h5><a href="products-details.html">Africa Race</a></h5>
                            <div class="project-info"></div>
                            <div class="sd-bg-icon">
                               <i class="flaticon-location-pin"></i>
                            </div>
                         </div>
                      </div>
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                      <div class="col-xl-3 banner-slide-height d-none d-xl-block">
                         <div class="slide-border"></div>
                      </div>
                   </div>
                </div>
             </div>
       </div>
    </section> 
    <!-- sd-banner-area end -->