<!-- blog__area start -->
<section class="blog__area grey-bg-5 pb-120 pt-120">
 <div class="container">
    <div class="row">
       <div class="col-xl-6">
          <div class="section__wrapper mb-55">
             <h4 class="section__title">A importância das molas convencionais para o desempenho dos camiões</h4>
             <div class="r-text">
                <span>notícias</span>
             </div>
          </div>
       </div>
       <div class="col-xl-12">
          <div class="blog-slider__active swiper-container">
             <div class="blog-slider__wrapper swiper-wrapper">
                <div class="blog__item  swiper-slide fix">
                   <div class="blog__thumb" data-background="assets/img/blog/757.jpg"></div>
                   <div class="blog__content">
                         <div class="blog__meta">
                            <div class="blog__author">
                               <i class="fal fa-calendar-alt"></i>
                               <span>Jun 06, 2023</span>
                            </div>
                            <div class="blog__catagory">
                               <span>Molas Convencionais</span>
                            </div>
                         </div>
                         <h5 class="blog__sm-title">As molas convencionais desempenham um papel fundamental no funcionamento adequado dos camiões. Esses componentes essenciais são responsáveis por absorver as irregularidades das estradas, proporcionando um passeio suave e estável para os condutores. Além disso, as molas convencionais são cruciais para garantir a distribuição correta do peso e a capacidade de carga dos camiões.</h5>
                         <div class="blog__btn mt-120">
                            <a href="blog-details.html" class="link-btn">
                               Ler Mais<i class="fal fa-long-arrow-right"></i>
                            </a>
                         </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</section>
<!-- blog__area end -->