<!-- blog__area start -->
<section class="blog__area grey-bg-5 pb-120 pt-120">
 <div class="container">
    <div class="row">
       <div class="col-xl-6">
          <div class="section__wrapper mb-55">
             <h4 class="section__title">Best innovations in the metallurgy today</h4>
             <div class="r-text">
                <span>insights</span>
             </div>
          </div>
       </div>
       <div class="col-xl-12">
          <div class="blog-slider__active swiper-container">
             <div class="blog-slider__wrapper swiper-wrapper">
                <div class="blog__item  swiper-slide fix">
                   <div class="blog__thumb" data-background="assets/img/blog/blog-sm-1.jpg"></div>
                   <div class="blog__content">
                         <div class="blog__meta">
                            <div class="blog__author">
                               <i class="fal fa-calendar-alt"></i>
                               <span>Feb 23, 2022</span>
                            </div>
                            <div class="blog__catagory">
                               <span>Industry</span>
                            </div>
                         </div>
                         <h5 class="blog__sm-title"><a href="blog-details.html">User review is a review conducted the mutual</a></h5>
                         <div class="blog__btn mt-120">
                            <a href="blog-details.html" class="link-btn">
                               Read more<i class="fal fa-long-arrow-right"></i>
                            </a>
                         </div>
                   </div>
                </div>
                <div class="blog__item swiper-slide fix">
                   <div class="blog__thumb" data-background="assets/img/blog/blog-sm-2.jpg"></div>
                   <div class="blog__content">
                         <div class="blog__meta">
                            <div class="blog__author">
                               <i class="fal fa-calendar-alt"></i>
                               <span>Feb 26, 2022</span>
                            </div>
                            <div class="blog__catagory">
                               <span>Industry</span>
                            </div>
                         </div>
                         <h5 class="blog__sm-title"><a href="blog-details.html">An industry is a group of that companies is</a></h5>
                         <div class="blog__btn mt-120">
                            <a href="blog-details.html" class="link-btn">
                               Read more<i class="fal fa-long-arrow-right"></i>
                            </a>
                         </div>
                   </div>
                </div>
                <div class="blog__item swiper-slide fix">
                   <div class="blog__thumb" data-background="assets/img/blog/blog-sm-3.jpg"></div>
                   <div class="blog__content">
                         <div class="blog__meta">
                            <div class="blog__author">
                               <i class="fal fa-calendar-alt"></i>
                               <span>Feb 28, 2022</span>
                            </div>
                            <div class="blog__catagory">
                               <span>Industry</span>
                            </div>
                         </div>
                         <h5 class="blog__sm-title"><a href="blog-details.html">By any person who has access to the internet </a></h5>
                         <div class="blog__btn mt-120">
                            <a href="blog-details.html" class="link-btn">
                               Read more<i class="fal fa-long-arrow-right"></i>
                            </a>
                         </div>
                   </div>
                </div>
                <div class="blog__item  swiper-slide fix">
                   <div class="blog__thumb" data-background="assets/img/blog/blog-sm-4.jpg"></div>
                   <div class="blog__content">
                         <div class="blog__meta">
                            <div class="blog__author">
                               <i class="fal fa-calendar-alt"></i>
                               <span>Feb 20, 2022</span>
                            </div>
                            <div class="blog__catagory">
                               <span>Industry</span>
                            </div>
                         </div>
                         <h5 class="blog__sm-title"><a href="blog-details.html">Their experience to any review site or</a></h5>
                         <div class="blog__btn mt-120">
                            <a href="blog-details.html" class="link-btn">
                               Read more<i class="fal fa-long-arrow-right"></i>
                            </a>
                         </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</section>
<!-- blog__area end -->