<!-- contact__area start -->
<section class="contact__area pt-120 pb-80" data-background="assets/img/bg/contact-bg.png">
 <div class="container">
    <div class="row">
       <div class="col-lg-3 col-md-6">
          <div class="contact__item text-center mb-30">
             <div class="contact__icon mb-35">
                <i class="fal fa-envelope-open-text"></i>
             </div>
             <h5 class="contact__title mb-25">Email</h5>
             <div class="contact__text">
                <p><a href="mailto:info@webmail.com">info@elo-automotive.com</a></p>
             </div>
             <div class="contact__button mt-30">
                <a href="mailto:jobs@websitehints.com" class="tp-btn-white">Email <i class="fa-light fa-arrow-right-long"></i></a>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6">
          <div class="contact__item text-center mb-30">
             <div class="contact__icon mb-35">
                <i class="fa-light fa-phone"></i>
             </div>
             <h5 class="contact__title mb-25">Telefone</h5>
             <div class="contact__text">
                <p><a href="tel:+351212244599">+351 212 244 599</a></p>
             </div>
             <div class="contact__button mt-30">
                <a href="tel:+7892516563" class="tp-btn-white">Ligue-nos <i class="fa-light fa-arrow-right-long"></i></a>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6">
          <div class="contact__item text-center mb-30">
             <div class="contact__icon mb-35">
                <i class="fa-light fa-map-location-dot"></i>
             </div>
             <h5 class="contact__title mb-25">Escritório & Fábrica</h5>
             <div class="contact__text">
                <p>Rua Quinta da Galega de Cima, 22 - Casal do Marco - Portugal
                 <iframe id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!4v1685890475937!6m8!1m7!1shWUtbljaydUMW-0WXtvLYw!2m2!1d38.60690747570651!2d-9.083651218877984!3f205.42!4f-6.680000000000007!5f0.7820865974627469">
                 </iframe>
                </p>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6">
          <div class="contact__item text-center mb-30">
             <div class="contact__icon mb-35">
                <i class="fa-light fa-bullseye-arrow"></i>
             </div>
             <h5 class="contact__title mb-25">Redes Sociais</h5>
             <div class="contact__social mt-30">
                <a href="https://www.linkedin.com/company/elo-automotive/"><i class="fa-brands fa-linkedin"></i></a>
             </div>
          </div>
       </div>
    </div>
 </div>
</section>
<!-- contact__area end -->

<!-- contact__area-2 start -->
<section class="contact__area-2">
 <div class="container">
    <div class="contact__form">
       <div class="container mt-30">
          <div class="row">
             <div class="col-lg-6">
                <div class="section__wrapper">
                   <h4 class="section__title">Contacte-nos</h4>
                   <div class="r-text">
                      <span>contacto</span>
                   </div>
                </div>
             </div>
             <div class="col-xl-12">
                <form id="contact-form" action="mail.php" method="POST">
                   <div class="row">
                      <div class="col-lg-6">
                         <div class="contact-filed mb-20">
                            <input type="text" name="name" placeholder="Nome Completo">
                        </div>
                      </div>
                      <div class="col-lg-6">
                         <div class="contact-filed contact-icon-mail mb-20">
                            <input email="text" name="email" placeholder="Email">
                        </div>
                      </div>
                   </div>
                   <div class="contact-filed contact-icon-message mb-25">
                      <textarea placeholder="Mensagem" name="message"></textarea>
                  </div>
                  <div class="contact__form-agree  d-flex align-items-center mb-20">
                      <input name="checkbox" class="e-check-input" type="checkbox" id="e-agree">
                      <label class="e-check-label" for="e-agree">Aceito os termos<a href="contact.html"> &amp; Condições</a></label>
                   </div>
                   <div class="form-submit text-center">
                       <button class="tp-btn" type="submit">Enviar pedido de Contacto</button>
                   </div>
                   <p class="ajax-response"></p>
               </form>
             </div>
          </div>
       </div>
    </div>
 </div>
</section>
<!-- contact__area-2 end -->