<!-- contact__map start -->
<section class="contact__map">
 <div class="contact__map-wrap">
     <iframe id="gmap_canvas" src="https://www.google.com/maps/place/ELO+Automotive/@38.6069629,-9.0862549,17z/data=!3m1!4b1!4m6!3m5!1s0xd1949c02380fa85:0xcac7f86ab89e946b!8m2!3d38.6069587!4d-9.0836746!16s%2Fg%2F1tgcz9yl?entry=ttu"></iframe>
     <div class="contact__map-icon">
          <i class="fa-solid fa-location-dot"></i>
          <img src="assets/img/bg/contact-icon-bg.png" alt="">
     </div>
 </div>
</section>
<!-- contact__map end -->