<nav class="navbar navbar-light navbar-expand-md sticky-top">
   <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
         <img src="assets/img/logo/logo.png" width="80px" alt="">
       </a>
       
      <div class="side-menu-icon d-lg-none text-end">
         <a href="javascript:void(0)" class="info-toggle-btn f-right sidebar-toggle-btn"><i class="fal fa-bars"></i></a>
      </div>

      {% include 'partials/navbar.njk' %}
      
   </div>
</nav>

<!-- sidebar area start -->
<div class="sidebar__area">
   <div class="sidebar__wrapper">
      <div class="sidebar__close">
         <button class="sidebar__close-btn" id="sidebar__close-btn">
            <i class="fal fa-times"></i>
         </button>
      </div>
      <div class="sidebar__content">
         <div class="sidebar__logo mb-40">
            <a href="index.html">
               <img src="assets/img/logo/logo-black.png" alt="logo">
            </a>
         </div>
         
         <div class="mobile-menu fix">
         </div>
         <div class="sidebar__contact mt-30 mb-20">
               <h4>Contact Info</h4>
               <ul>
                  <li class="d-flex align-items-center">
                     <div class="sidebar__contact-icon mr-15">
                        <i class="fal fa-map-marker-alt"></i>
                     </div>
                     <div class="sidebar__contact-text">
                        <a target="_blank" href="https://www.google.com/maps/place/Dhaka/@23.7806207,90.3492859,12z/data=!3m1!4b1!4m5!3m4!1s0x3755b8b087026b81:0x8fa563bbdd5904c2!8m2!3d23.8104753!4d90.4119873">12/A, Mirnada City Tower, NYC</a>
                     </div>
                  </li>
                  <li class="d-flex align-items-center">
                  <div class="sidebar__contact-icon mr-15">
                     <i class="far fa-phone"></i>
                  </div>
                  <div class="sidebar__contact-text">
                     <a href="tel:+012-345-6789">088889797697</a>
                  </div>
               </li>
               <li class="d-flex align-items-center">
                  <div class="sidebar__contact-icon mr-15">
                     <i class="fal fa-envelope"></i>
               </div>
               <div class="sidebar__contact-text">
                  <a href="mailto:info@gmail.com">info@gmail.com</a>
               </div>
            </li>
               </ul>
         </div>
      <div class="sidebar__social">
         <ul>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
         </ul>
      </div>
      </div>
   </div>
</div>
      
<!-- sidebar area end -->     
<div class="body-overlay"></div>
<!-- sidebar area end --> 