<!-- header-area-start -->
<header id="header-sticky" class="header-area">
 <div class="container">
       <div class="row">
          <div class="col-2 align-items-center">
             <div class="logo-area">
                   <div class="logo">
                      <a href="index.html"><img src="assets/img/logo/logo.png" width="80px" alt=""></a>
                   </div>
             </div>
          </div>
          <div class="col-6 align-items-center">
             <div class="menu-area menu-padding">
                   <div class="main-menu">
                      {% include 'partials/navbar.njk' %}
                   </div>
             </div>
          </div>
          <div class="col-4">
            <div class="header-info">
               <div class="info-item d-none d-xl-block">
                  <h5><i class="fa fa-phone"></i><a href="tel:+351 212 244 599">+351 212 244 599</a></h5>
               </div>
               <div class="info-item d-none d-xl-block ">
                  <h5><i class="fa fa-envelope"></i><a href="mailto:info@webmail.com">info@elo-automotive.com</a></h5>
               </div>
               <div class="header__lang">
                  <select>
                     <option>PT</option>
                     <option>EN</option>
                     <option>DE</option>
                  </select><div class="nice-select" tabindex="0"><span class="current">PT</span><ul class="list"><li data-value="EN" class="option">EN</li><li data-value="PT" class="option selected focus">PT</li><li data-value="DE" class="option">DE</li></ul></div>
               </div>
               <div class="side-menu-icon d-block d-xl-none">
                  <a href="javascript:void(0)" class="info-toggle-btn f-right sidebar-toggle-btn">
                     <i class="fal fa-bars"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
 </div>
</header>
<!-- header-area-end -->