      <!-- header-area-start -->
      <div class="row align-items-left text-left bg-dark section__wrapper">
         <div class="col">
           <div class="topbarElements d-inline-flex align-items-center">
             <!-- <div>&#x27A4;</div> -->
             <div class="text-start d-md-block d-none">
               <h5 class="p-0 m-0 text-uppercase" style="font-size: x-small;">Morada</h5>
               <p class="p-0 m-0 text-secondary" style="font-size: x-small;"><a href="https://www.google.com/maps/@38.6069075,-9.0836512,3a,75y,217.03h,90t/data=!3m7!1e1!3m5!1shWUtbljaydUMW-0WXtvLYw!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DhWUtbljaydUMW-0WXtvLYw%26cb_client%3Dsearch.gws-prod.gps%26w%3D86%26h%3D86%26yaw%3D217.02771%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?entry=ttu">22 R. Qt.ª da Galega de Cima, Portugal</a></p>
             </div>
           </div>
         </div>
         <div class="col">
           <div class="topbarElements d-inline-flex align-items-center">
             <!-- <div>&#x270E;</div> -->
             <div class="text-start d-md-block d-none">
               <h5 class="p-0 m-0 text-uppercase" style="font-size: x-small;">Email</h5>
               <p class="p-0 m-0 text-secondary" style="font-size: x-small;"><a href="mailto:info@elo-automotive.com">info@elo-automotive.com</a></p>
             </div>
           </div>
         </div>
         <div class="col">
           <div class="topbarElements d-inline-flex align-items-center">
             <!-- <div>
               &#x260F;
             </div> -->
             <div class="text-start d-md-block d-none">
               <h5 class="p-0 m-0 text-uppercase" style="font-size: x-small;">Telefone</h5>
               <p class="p-0 m-0 text-secondary" style="font-size: x-small;"><a href="tel:351212244599">+351 212 244 599 </a><span style="font-size: xx-small;">(*) CHAMADA PARA A REDE MÓVEL NACIONAL</span></p>
             </div>
           </div>
         </div>
       </div>
       {% include 'partials/navbar.njk' %}
      <!-- header-area-end -->
