<nav id="mobile-menu">
 <ul>
    <li class="has-dropdown">
     <a href="index.html">{{navigation.navCo.navCo}}</a>
       <ul class="sub-menu">
          <li><a href="">{{navigation.navCo.navAbt}}</a></li>
          <li><a href="">{{navigation.navCo.navHst}}</a></li>
          <li><a href="">{{navigation.navCo.navCar}}</a></li>
          <li><a href="">{{navigation.navCo.navTC}}</a></li>
       </ul>
    </li>
    <li><a href="products.html">{{navigation.navProd}}</a></li>
    <li class="has-dropdown">
     <a href="index.html">{{navigation.navQual.navQual}}</a>
       <ul class="sub-menu">
          <li><a href="">{{navigation.navQual.navCert}}</a></li>
          <li><a href="">{{navigation.navQual.navQPol}}</a></li>
       </ul>
    </li>
    <li><a href="contact.html">{{navigation.navCt}}</a></li>
 </ul>
</nav>