<nav id="mobile-menu-2">
 <ul>
    <li class="has-dropdown"><a href="index.html">Empresa</a>
       <ul class="sub-menu">
          <li><a href="index.html">Sobre</a></li>
          <li><a href="index-2.html">História</a></li>
          <li><a href="index-3.html">Carreiras</a></li>
          <li><a href="">Termos e Condições</a></li>
       </ul>
    </li>
    
    <li class="has-dropdown"><a href="about.html">Produtos</a>
       <ul class="sub-menu">
          <li><a href="team.html">Molas</a></li>
          <li><a href="team-details.html">Projetos</a></li>
       </ul>
    </li>
    
    <li class="has-dropdown"><a href="services.html">Qualidade</a>
       <ul class="sub-menu">
          <li><a href="services.html">Certificações</a></li>
          <li><a href="services-details.html">Política da Qualidade</a></li>
       </ul>
    </li>
    
    <li><a href="contact.html">Contact</a></li>

 </ul>
</nav>