<nav id="mobile-menu-2">
 <ul>
    <li class="has-dropdown"><a href="index.html">Empresa</a>
       <ul class="sub-menu">
          <li><a href="#about">Sobre</a></li>
          <li><a href="index-2.html">História</a></li>
          <li><a href="contact.html">Carreiras</a></li>
          <li><a href="terms.html">Termos e Condições</a></li>
       </ul>
    </li>
    
    <li><a href="products-details.html">Produtos</a>
    </li>
    
    <li class="has-dropdown"><a href="#">Qualidade</a>
       <ul class="sub-menu">
          <li><a href="quality.html">Certificações</a></li>
          <li><a href="quality-policy.html">Política da Qualidade</a></li>
       </ul>
    </li>
    
    <li><a href="contact.html">Contact</a></li>

 </ul>
</nav>