<!-- our-history start -->
<div id="our-history" class="sm-products__area grey-bg-5 pt-120 pb-190">
 <div class="container">
    <div class="sm-products__lists-2">
     <h4 class="section__title text-center mb-80">A Nossa História</h4>
       <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="sm-products__item mb-30">
                <div class="flip-card">
                   <div class="flip-card-inner flip-card-inner-2">
                   <div class="flip-card-front flip-card-front-2">
                         <h1>1965</h1>
                         <h5 class="flip-card-title flip-card-title-2">Início da ELO Automotive </h5>
                         <div class="flip-card-omore">
                            <p>Constituição da empresa como parte do Grupo Batista Russo, com o início da produção no Seixal. </p>
                         </div>
                   </div>
                   <div class="flip-card-back flip-card-back-2">
                         <h1>1965</h1>
                         <h5 class="flip-card-title"><a href="products-details.html">Início da ELO Automotive</a></h5>
                         <div class="flip-card-omore">
                            <p>Constituição da empresa como parte do Grupo Batista Russo, com o início da produção no Seixal. </p>
                         </div>
                   </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="sm-products__item mb-30">
                <div class="flip-card">
                   <div class="flip-card-inner flip-card-inner-2">
                   <div class="flip-card-front flip-card-front-2">
                         <h1>1968</h1>
                         <h5 class="flip-card-title flip-card-title-2">Grupo Galucho</h5>
                         <div class="flip-card-omore">
                            <p>Aquisição da empresa pelo grupo GALUCHO, começando a fornecer linhas de montagem da MAN, Berliet, Tramagal, Ford e General Motors. </p>
                         </div>
                   </div>
                   <div class="flip-card-back flip-card-back-2">
                         <h1>1968</h1>
                         <h5 class="flip-card-title"><a href="products-details.html">Grupo Galucho</a></h5>
                         <div class="flip-card-omore">
                            <p>Aquisição da empresa pelo grupo GALUCHO, começando a fornecer linhas de montagem da MAN, Berliet, Tramagal, Ford e General Motors. </p>
                         </div>
                   </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="sm-products__item mb-30">
                <div class="flip-card">
                   <div class="flip-card-inner flip-card-inner-2">
                   <div class="flip-card-front flip-card-front-2">
                         <h1>1970</h1>
                         <h5 class="flip-card-title flip-card-title-2">Expansão </h5>
                         <div class="flip-card-omore">
                            <p>Aumento da capacidade produtiva, assumindo a posição de liderança no mercado de reparação e no Norte de Africa. </p>
                         </div>
                   </div>
                   <div class="flip-card-back flip-card-back-2">
                         <h1>1970</h1>
                         <h5 class="flip-card-title"><a href="products-details.html">Expansão</a></h5>
                         <div class="flip-card-omore">
                            <p>Aumento da capacidade produtiva, assumindo a posição de liderança no mercado de reparação no Norte de Africa. </p>
                         </div>
                   </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="sm-products__item mb-30">
                <div class="flip-card">
                   <div class="flip-card-inner flip-card-inner-2">
                   <div class="flip-card-front flip-card-front-2">
                         <h1>1980</h1>
                         <h5 class="flip-card-title flip-card-title-2">Nova Fábrica</h5>
                         <div class="flip-card-omore">
                            <p>Início da nova fábrica no Casal do Marco, Seixal. Começo da exportação para mercados externos, com foco no mercado alemão. </p>
                         </div>
                   </div>
                   <div class="flip-card-back flip-card-back-2">
                         <h1>1980</h1>
                         <h5 class="flip-card-title"><a href="products-details.html">Nova Fábrica</a></h5>
                         <div class="flip-card-omore">
                            <p>Início da nova fábrica no Casal do Marco, Seixal. Começo da exportação para mercados externos, com foco no mercado alemão.</p>
                         </div>
                   </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
           <div class="sm-products__item mb-30">
              <div class="flip-card">
                 <div class="flip-card-inner flip-card-inner-2">
                 <div class="flip-card-front flip-card-front-2">
                       <h1>1990</h1>
                       <h5 class="flip-card-title flip-card-title-2">ISO 9001 </h5>
                       <div class="flip-card-omore">
                          <p>Aumento progressivo das áreas tecnologicas e técnicas culminando na certificação EN ISO 9001. </p>
                       </div>
                 </div>
                 <div class="flip-card-back flip-card-back-2">
                       <h1>1990</h1>
                       <h5 class="flip-card-title"><a href="products-details.html">ISO 9001 </a></h5>
                       <div class="flip-card-omore">
                          <p>Aumento progressivo das áreas tecnologicas e técnicas culminando na certificação EN ISO 9001. </p>
                       </div>
                 </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
           <div class="sm-products__item mb-30">
              <div class="flip-card">
                 <div class="flip-card-inner flip-card-inner-2">
                 <div class="flip-card-front flip-card-front-2">
                       <h1>2000</h1>
                       <h5 class="flip-card-title flip-card-title-2">Molas Pneumáticas </h5>
                       <div class="flip-card-omore">
                          <p>Início da produção de molas pneumáticas e introdução de sistemas de desenho assistido por computador CAD para todos os modelos de molas. </p>
                       </div>
                 </div>
                 <div class="flip-card-back flip-card-back-2">
                       <h1>2000</h1>
                       <h5 class="flip-card-title"><a href="products-details.html">Molas Pneumáticas</a></h5>
                       <div class="flip-card-omore">
                          <p>Início da produção de molas pneumáticas e introdução de sistemas de desenho assistido por computador CAD para todos os modelos de molas. </p>
                       </div>
                 </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
           <div class="sm-products__item mb-30">
              <div class="flip-card">
                 <div class="flip-card-inner flip-card-inner-2">
                 <div class="flip-card-front flip-card-front-2">
                       <h1>2010</h1>
                       <h5 class="flip-card-title flip-card-title-2">Automação de processos </h5>
                       <div class="flip-card-omore">
                          <p>Automação do equipamento de produção e crescimento nos mercados internacionais. </p>
                       </div>
                 </div>
                 <div class="flip-card-back flip-card-back-2">
                       <h1>2010</h1>
                       <h5 class="flip-card-title"><a href="products-details.html">Automação de processos</a></h5>
                       <div class="flip-card-omore">
                          <p>Automação do equipamento de produção e crescimento nos mercados internacionais.</p>
                       </div>
                 </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
           <div class="sm-products__item mb-30">
              <div class="flip-card">
                 <div class="flip-card-inner flip-card-inner-2">
                 <div class="flip-card-front flip-card-front-2">
                       <h1>2020</h1>
                       <h5 class="flip-card-title flip-card-title-2">Qualidade</h5>
                       <div class="flip-card-omore">
                          <p>avshjldgsahjdgasyjdasg udkasgdukasdgasuy dgasyudgasjyd gasyjdgasjydga sjygdasydgasydgas dgwahjdfasjfasy </p>
                       </div>
                 </div>
                 <div class="flip-card-back flip-card-back-2">
                       <h1>2020</h1>
                       <h5 class="flip-card-title"><a href="products-details.html">Qualidade</a></h5>
                       <div class="flip-card-omore">
                          <p>avshjldgsahjdga syjdasgudkasgdukasdgasuydgasyudgasjydga syjdgasjydgas jygdasydgasydgas dgwahjdfasjfasy</p>
                       </div>
                 </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
    </div>
 </div>
</div>
<!-- our-history-area end -->