      <!-- process__area start -->
      <section class="process__area pb-100">
       <div class="container">
          <div class="row">
             <div class="col-xl-6">
                <div class="process__images">
                   <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                         <div class="image-1 w-img">
                            <img src="assets/img/process/process-1.jpg" alt="">
                         </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                         <div class="image-2 w-img">
                            <img src="assets/img/process/process-2.jpg" alt="">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-6">
                <div class="process__right">
                   <div class="section__wrapper mb-55">
                      <h4 class="section__title">Commercial Ministry Hike Import Duty on Aluminium</h4>
                      <div class="r-text">
                         <span>Process</span>
                      </div>
                   </div>
                   <div class="proceess__list">
                      <div class="process__list-item mb-30">
                         <div class="process__list-info">
                            <div class="process__list-icon">
                               <img src="assets/img/icon/picon-1.png" alt="">
                            </div>
                            <div class="process__list-content">
                               <span>Process 01</span>
                               <h5><a href="services-details.html">Discuss About Project</a></h5>
                            </div>
                         </div>
                         <div class="process__list-sp-icon">
                            <a href="services-details.html"><i class="fa-light fa-arrow-right-long"></i></a>
                         </div>
                      </div>
                      <div class="process__list-item mb-30">
                         <div class="process__list-info">
                            <div class="process__list-icon">
                               <img src="assets/img/icon/picon-2.png" alt="">
                            </div>
                            <div class="process__list-content">
                               <span>Process 02</span>
                               <h5><a href="services-details.html">Find Easy Solution</a></h5>
                            </div>
                         </div>
                         <div class="process__list-sp-icon">
                           <a href="services-details.html"><i class="fa-light fa-arrow-right-long"></i></a>
                         </div>
                      </div>
                      <div class="process__list-item mb-30">
                         <div class="process__list-info">
                            <div class="process__list-icon">
                               <img src="assets/img/icon/picon-3.png" alt="">
                            </div>
                            <div class="process__list-content">
                               <span>Process 03</span>
                               <h5><a href="services-details.html">Troubleshooting</a></h5>
                            </div>
                         </div>
                         <div class="process__list-sp-icon">
                            <a href="services-details.html"><i class="fa-light fa-arrow-right-long"></i></a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- process__area end -->