<!-- product portfolio area start -->
<div class="portfoilo__area pt-110 pb-30">
 <div class="container">
    <div class="row">
       <div class="col-xxl-8 col-xl-7 col-lg-7">
          <div class="portfolio__details mb-50">
             <h4 class="portfolio__details-title">A nossa tecnologia de Molas</h4>
             <p class="pt-d-text mb-10">A ELO Automotive fabrica uma gama completa de molas convencionais pneumáticas e parabólicas.
            <p class="pt-d-text mb-10">A nossa tecnologia permite produzir molas eficientes de peso reduzido com excelente desempenho e durabilidade.</p>
             <div class="pt-d-image w-img mb-35">
                <img src="assets/img/products/tecnologia.jpg" alt="portfolio-details-img">
             </div>
             <ul>
               <p>Conseguimos obter os seguintes benefícios:</p>
               <li class="ml-25">Peso reduzido na montagem</li>
               <li class="ml-25">Alta resistência ao desgaste</li>
               <li class="ml-25">Stress Residual ótimo com máximo tempo útil</li>
             </ul>
             <div class="ptd-descriptiopn mt-55 mb-25">
                <h4 class="portfolio__details-title">Superioridade Técnica</h4>
                <blockquote class="mb-25">A nossa equipa, equipamentos e laboratório técnico, possuem microscópios, maquina de ensaios de fadiga, assim como uma variedade de equipamentos de ensaios e testes para simular e controlar as condições de serviço das molas que produzimos. </blockquote>
                <blockquote class="mb-25">Temos capacidade de Análise de Elementos Finitos (FEA) para simulação e desenvolvimento de molas.</blockquote>
             </div>
             
             <div class="row">
                <div class="col-lg-4">
                   <div class="pt-d-image mb-30 w-img">
                      <img src="assets/img/products/products-1-300x200.jpg" alt="portfoilo-img">
                   </div>
                </div>
                <div class="col-lg-4">
                   <div class="pt-d-image mb-30 w-img">
                      <img src="assets/img/products/products-2-300x200.jpg" alt="portfoilo-img">
                   </div>
                </div>
                <div class="col-lg-4">
                   <div class="pt-d-image mb-30 w-img">
                      <img src="assets/img/products/products-3-300x200.jpg" alt="portfoilo-img">
                   </div>
                </div>
             </div>
             
             <div class="row pt-30">
                <div class="col-lg-4">
                   <div class="pt-sm-item mb-30">
                      <h5 class="pt-sm-item-title"><span class="pt-sm-item-number">01.</span> Matérias Primas</h5>
                      <p>A ELO Automotive trabalha com os principais fabricantes de aço para produzir uma qualidade excelente em aços com alta resistência à tração aumentando o tempo útil de vida das molas.</p>
                   </div>
                </div>
                <div class="col-lg-4">
                   <div class="pt-sm-item mb-30">
                      <h5 class="pt-sm-item-title"><span class="pt-sm-item-number">02.</span> Laminagem Perfeita</h5>
                      <p>Os materiais são sujeitos a laminagem em perfis específicos com tolerâncias muito apertadas.</p>
                   </div>
                </div>
                <div class="col-lg-4">
                  <div class="pt-sm-item mb-30">
                     <h5 class="pt-sm-item-title"><span class="pt-sm-item-number">03.</span> Tratamentos Térmicos</h5>
                     <p>Os materias de grão fino e alta resistência são sujeitos a tratamentos térmicos propriétários de forma a assegurar um perfeito rendimento dos materiais. </p>
                  </div>
               </div>
             </div>
          </div>
       </div>
       <div class="col-xxl-4 col-xl-5 col-lg-5">
          <div class="portfolio__sidebar mb-50">
             <div class="ps__form mb-40">
                <h5 class="ps__title">Pedido de Contacto</h5>
                <form action="#">
                   <div class="contact-filed mb-20">
                       <input type="text" name="name" placeholder="Nome">
                   </div>
                   <div class="contact-filed contact-icon-mail mb-20">
                       <input type="text" name="email" placeholder="Email">
                   </div>
                   <div class="contact-filed contact-icon-message mb-20">
                      <textarea placeholder="Mensagem"></textarea>
                  </div>
                   <div class="form-submit text-center">
                       <button class="tp-btn w-100">Peça um Orçamento</button>
                   </div>
               </form>
             </div>
             <div class="ps__image w-img">
                <img src="assets/img/products/products-4-300x400.jpg" alt="">
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
<!-- product portfolio area end -->
