<!-- services-area start -->
<section class="services-area grey-bg-5 pt-120 pb-115 fix">
 <div class="container">
    <div class="row">
       <div class="col-xl-6">
          <div class="ab-left-content">
             <div class="section__wrapper mb-30">
                <h4 class="section__title">Don't need to look very far to get a better perspective</h4>
                <div class="r-text">
                   <span>services</span>
                </div>
             </div>
             <p class="sm-text mb-45">Our mission is to provide quality English language instruction a
                variety of courses to international and local students in a
                professional and supportive atmosphere .</p>
             <div class="ab-button mb-30">
                <a href="about.html" class="tp-btn-ts">Get In Touch <i class="fal fa-angle-right"></i></a>
             </div>
          </div>
       </div>
       <div class="col-xl-6">
          <div class="services__slider swiper-container">
             <div class="services__wrapper swiper-wrapper">
                <div class="single-services swiper-slide">
                   <h5>Strategy</h5>
                   <div class="services-list pb-10">
                      <ul>
                         <li><span>Aptitude for Technology</span></li>
                         <li><span>Attention to Detail</span></li>
                         <li><span>Strong Communication</span></li>
                         <li><span>Market Assesment</span></li>
                         <li><span>Quallity Guarantee</span></li>
                      </ul>
                   </div>
                   <div class="sr-button">
                      <a href="services-details.html">Read More</a>
                   </div>
                </div>
                <div class="single-services swiper-slide">
                   <h5>Assesment</h5>
                   <div class="services-list pb-10">
                      <ul>
                         <li><span>Quallity Guarantee</span></li>
                         <li><span>Market Assesment</span></li>
                         <li><span>Strong Communication</span></li>
                         <li><span>Attention to Detail</span></li>
                         <li><span>Aptitude for Technology</span></li>
                      </ul>
                   </div>
                   <div class="sr-button">
                      <a href="services-details.html">Read More</a>
                   </div>
                </div>
                <div class="single-services swiper-slide">
                   <h5>Development</h5>
                   <div class="services-list pb-10">
                      <ul>
                         <li><span>Strong Communicatione</span></li>
                         <li><span>Quallity Guarantee</span></li>
                         <li><span>Aptitude for Technology</span></li>
                         <li><span>Market Assesment</span></li>
                         <li><span>Attention to Detail</span></li>
                      </ul>
                   </div>
                   <div class="sr-button">
                      <a href="services-details.html">Read More</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</section>
<!-- services-area end -->