<!-- sidebar area start -->
<div class="sidebar__area">
 <div class="sidebar__wrapper">
    <div class="sidebar__close">
       <button class="sidebar__close-btn" id="sidebar__close-btn">
          <i class="fal fa-times"></i>
       </button>
    </div>
    <div class="sidebar__content">
       <div class="sidebar__logo mb-40">
          <a href="index.html">
          <img src="assets/img/logo/logo.png" width="80px" alt="logo">
          </a>
       </div>
       
       <div class="mobile-menu fix"></div>
       <div class="sidebar__contact mt-30 mb-20">
          <h4>Contactos</h4>
          <ul>
             <li class="d-flex align-items-center">
                <div class="sidebar__contact-icon mr-15">
                   <i class="fal fa-map-marker-alt"></i>
                </div>
                <div class="sidebar__contact-text">
                  <iframe src="https://www.google.com/maps/embed?pb=!4v1685890475937!6m8!1m7!1shWUtbljaydUMW-0WXtvLYw!2m2!1d38.60690747570651!2d-9.083651218877984!3f205.42!4f-6.680000000000007!5f0.7820865974627469" width="180" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br/>
                  <a>
                     Rua Quinta da Galega de Cima, 14 - Casal do Marco - Portugal
                  </a>
                </div>
             </li>
             <li class="d-flex align-items-center">
                <div class="sidebar__contact-icon mr-15">
                   <i class="far fa-phone"></i>
                </div>
                <div class="sidebar__contact-text">
                   <a href="tel:+012-345-6789">+351 212 244 599</a>
                </div>
             </li>
             <li class="d-flex align-items-center">
                <div class="sidebar__contact-icon mr-15">
                   <i class="fal fa-envelope"></i>
                </div>
                <div class="sidebar__contact-text">
                   <a href="mailto:info@gmail.com">info@eloautomotive.com</a>
                </div>
             </li>
             <li class="d-flex align-items-center">
               <div class="sidebar__contact-icon mr-15">
                  <i class="fab fa-linkedin"></i>
               </div>
               <div class="sidebar__contact-text">
                  <a href="https://www.linkedin.com/company/elo-automotive/">Siga-nos no Linkedin</a>
               </div>
             </li>
          </ul>
       </div>
    </div>
 </div>
</div>
<!-- sidebar area end -->  

<div class="body-overlay"></div>
