<!-- Swiper Dot start -->
<section class="main-slider-dot">
 <div class="container">
    <div class="swiper main-slider-nav">
       <div class="swiper-wrapper">
          <div class="swiper-slide">
             <div class="sm-button">
                <div class="sm-services__icon">
                   <i class="flaticon-industrial"></i>
                </div>
                <div class="sm-services__text">
                      <span>Molas & Acessórios</span>
                </div>
             </div>
          </div>
          <div class="swiper-slide">
             <div class="sm-button">
                <div class="sm-services__icon">
                   <i class="flaticon-manufacturing"></i>
                </div>
                <div class="sm-services__text">
                      <span>Projetos</span>
                </div>
             </div>
          </div>
          
       </div>
    </div>
 </div>
</section>
<!-- Swiper Dot end -->