      <!-- products__area start -->
      <section class="products__area pb-80" data-background="assets/img/products/products-bg.jpg">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6">
                  <div class="products__item products__item-tp text-center mb-40">
                     <div class="products__item-content">
                        <div class="ser__icon mb-30">
                           <img src="assets/img/products/convencional.png" width="250px" alt="">
                        </div>
                        <h5 class="ser__title mb-10">Molas Convencionais</h5>
                        <div class="ser__more-option mt-10">
                           <a href="products-details.html">Saber Mais <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6">
                  <div class="products__item products__item-tp text-center mb-40">
                     <div class="products__item-content">
                        <div class="ser__icon mb-30">
                          <img src="assets/img/products/pneumatica.png" width="240px" alt="">
                        </div>
                        <h5 class="ser__title mb-10">Molas Pneumáticas</h5>
                        <div class="ser__more-option mt-10">
                           <a href="products-details.html">Saber mais <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6">
                  <div class="products__item products__item-tp text-center mb-40">
                     <div class="products__item-content">
                        <div class="ser__icon mb-30">
                           <img src="assets/img/products/parabolica.png" width="250px" alt="">
                        </div>
                        <h5 class="ser__title mb-10">Molas parabólicas</h5>
                        <div class="ser__more-option mt-10">
                           <a href="products-details.html">Saber Mais <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- products__area end -->