      <!-- testimonial__area start -->
      <section class="testimonial__area grey-bg-5 pt-120 pb-120 fix">
       <div class="testimonial__right-bg">
          <img src="assets/img/testimonial/testimonial-bg-1.jpg" alt="">
       </div>
       <div class="container">
          <div class="row">
             <div class="col-xl-6">
                <div class="section__wrapper mb-45">
                   <h4 class="section__title">Best innovations in the metallurgy today</h4>
                   <div class="r-text">
                      <span>feedback</span>
                   </div>
                </div>
             </div>
             <div class="col-xl-12">
                <div class="testimonial__slider swiper-container">
                   <div class="testimonial__wrapper swiper-wrapper">
                      <div class="testimonial__item swiper-slide">
                         <p class="review__text">“ A user review is a review conducted by any person who has access to the internet and publishes their ux to a review site or social media platform ”</p>
                         <div class="review__info mt-30">
                            <a href="#"><img src="assets/img/author/client-1.jpg" alt=""></a>
                            <div class="client__content">
                               <h5 class="client__name"><a href="#">Alonso Dowson</a></h5>
                               <div class="client__designation"><p>Head Of Idea , <a href="#">Alonso Co.</a></p></div>
                            </div>
                         </div>
                      </div>
                      <div class="testimonial__item swiper-slide">
                         <p class="review__text">“ A user review is a review conducted
                            by any person who has access to the
                            internet and publishes their ux to a
                            review site or social media platform ”</p>
                         <div class="review__info mt-30">
                            <a href="#"><img src="assets/img/author/client-2.jpg" alt=""></a>
                            <div class="client__content">
                               <h5 class="client__name"><a href="#">Rosalina William</a></h5>
                               <div class="client__designation"><p>CEO , <a href="#">Rosa Corporation</a></p></div>
                            </div>
                         </div>
                      </div>
                      <div class="testimonial__item swiper-slide">
                         <p class="review__text">“ Design quality superlative
                            account on its cloud platform. Think Dikons is the best theme I ever
                            seen this year. Amazing design, easy to
                            customize a ”</p>
                         <div class="review__info mt-30">
                            <a href="#"><img src="assets/img/author/client-3.jpg" alt=""></a>
                            <div class="client__content">
                               <h5 class="client__name"><a href="#">Iqbal Hossain</a></h5>
                               <div class="client__designation"><p>Founder , <a href="#">Gazi Company</a></p></div>
                            </div>
                         </div>
                      </div>
                      <div class="testimonial__item swiper-slide">
                         <p class="review__text">“ Amazing design, easy to
                            customize a design quality superlative
                            account on its cloud platform. Think Dikons is the best theme I ever
                            seen this year. ”</p>
                         <div class="review__info mt-30">
                            <a href="#"><img src="assets/img/author/client-4.jpg" alt=""></a>
                            <div class="client__content">
                               <h5 class="client__name"><a href="#">Josep D. William</a></h5>
                               <div class="client__designation"><p>Head Of Idea , <a href="#">William Co.</a></p></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- testimonial__area end -->