<!-- testimonial__area start -->
<section class="testimonial__area-2 pt-110 pb-120">
   <div class="container">
      <div class="row">
         <div class="col-xl-6">
            <div class="testimonial__right-image w-img mt-120">
               <img src="assets/img/testimonial/testimonialbg.jpg" alt="testimonialbg">
            </div>
         </div>
         <div class="col-xl-6">
            <div class="testimonial__left-info">
               <div class="section-2__wrapper mb-55">
                  <h5 class="section__title-sd">O que dizem da ELO</h5>
               </div>
               <div class="testimonial-2__slider ">
                  <div class="wrapper">
                     <div class="testimonial__item-2 mb-60">
                        <div class="tclient__details">
                           <div class="tclient__image mb-20">
                              <img src="assets/img/testimonial/ejacinto.jpg" width="100px" height="100px" alt="">
                           </div>
                           <div class="tclient__designation">
                              <h5>Elizabete Jacinto</h5>
                              <span>Piloto Truck Racing </span>
                           </div>
                        </div>
                        <div class="review__text-2">
                           <p>Agradeço à ELO o terem contribuído para me tornar o primeiro piloto português a conseguir uma vitória numa grande maratona de todo o terreno, o Africa Race e a única mulher a nível mundial a fazer tal conquista. Obrigada.</p>
                        </div>
                        <div class="quote-img">
                           <img src="assets/img/icon/quote-icon.png" alt="">
                        </div>
                     </div>
                     <div class="testimonial__item-2 mb-60">
                        <div class="tclient__details">
                           <div class="tclient__image mb-20">
                              <img src="assets/img/testimonial/lionlogo.jpg" width="100px" height="100px" alt="">
                           </div>
                           <div class="tclient__designation">
                              <h5>Lion Truck Racing</h5>
                              <span>Racing Team</span>
                           </div>
                        </div>
                        <div class="review__text-2">
                           <p>Com a sua côr amarela de destaque, a Lion Truck Racing tem estado nas corridas com o suporte das molas da ELO desde 2015. A grande equipa da Lion e o suporte da ELO têm sido indispensáveis nesta conquista.</p>
                        </div>
                        <div class="quote-img">
                           <img src="assets/img/icon/quote-icon.png" alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- testimonial__area end -->